
<div class="container">

    <div class="col-md-8">

        <%= render 'io_ask/topics/breadcrumb', :category => nil, :topic => @comment.topic %>

        <div class="panel panel-default">

            <div class="panel-heading"><strong><%= t '.edit_comment' %></strong></div>

            <div class="panel-body">

                <div class="col-md-12">

                  <%= simple_form_for @comment, :url => "/ask/comments/#{@comment.id}" do |f| %>

                    <div class="form-group">
                      <%= f.input :content, :required => true, as: :text, :placeholder => t('fill_content', :scope => 'io_ask.general'), :label => false, input_html: {:class => 'form-control', :rows => 18} %>
                    </div>
    

                    <div class="form-group">
                      <span class="pull-left"><%= f.submit t('save', :scope => 'io_ask.general'), :class => "btn btn-primary" %></span>
                      <span class="pull-right">
                        <%= link_to t('delete', :scope => 'io_ask.general'), "/ask/comments/#{@comment.id}", :class => "btn btn-primary",  :method => :delete, :data => { confirm: t('confirm_delete', :scope => 'io_ask.general') } %>
                      </span>
                    </div>

                  <% end %>

                </div>

            </div>



        </div>

        

    </div>



    <%= render "io_ask/topics/sidebar" %>



</div>
<!-- /.row -->

  