<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-home"></i> <%= t 'home', :scope => 'io_ask.general' %></a></li>
  <li><a href="/ask/topics"><%= t 'forum', :scope => 'io_ask.general' %></a></li>

  <% unless category.nil? %>
    <li><a href="/ask/topics?cid=<%= category.id %>"><%= category.name %></a></li>
  <% end %>

  <% unless topic.nil? %>
    <% unless topic.category.nil? %>
    <li><a href="/ask/topics?cid=<%= topic.category.id %>"><%= topic.category.name %></a></li>
    <% end %>
  <% end %>
</ol>