<a class="label label-info" href="/ask/topics?cid=<%= topic.category.id %>"><%= topic.category.name %></a> •
<a href="/users/<%= topic.user.ioask_name %>"><strong><%= topic.user.ioask_name %></strong></a> •

    
<%= time_ago_in_words(topic.created_at) %>前创建

<% if topic.comment_count > 0 %>
• <%= topic.comment_count %> 回复 
• 最后由 <a href="/users/<%= topic.last_comment_user.ioask_name %>"><%= topic.last_comment_user.ioask_name %></a> 在 <%= time_ago_in_words(topic.last_commented_at) %>前回复
<% end %>
