<div class="container-fluid">


  


 

      <%= render 'io_ask/topics/breadcrumb', :category => @category, :topic => nil %>


      <%#= render "io_ask/topics/sidebar" %>

      <%= render "io_ask/topics/categorybar" %>

  

                <% if @category.nil? %>
                <ul class="nav nav-tabs" role="tablist">
                    <li <% if params[:latest] == 'topic' || params[:latest].nil? %>class="active"<% end %>>
                      <a href="/ask/topics?lastest=topic"><%= t '.latest_topic' %></a>
                    </li>
                    <li <% if params[:latest] == 'comment' %>class="active"<% end %>>
                    <a href="/ask/topics?latest=comment"><%= t '.latest_reply' %></a>
                    </li>
                </ul>
                <% else %>
                <ul class="nav nav-tabs" role="tablist">
                    <li <% if params[:latest] == 'topic' || params[:latest].nil? %>class="active"<% end %>>
                      <a href="/ask/topics?cid=<%= @category.id %>&lastest=topic"><%= t '.latest_topic' %></a>
                    </li>
                    <li <% if params[:latest] == 'comment' %>class="active"<% end %>>
                    <a href="/ask/topics?cid=<%= @category.id %>&latest=comment"><%= t '.latest_reply' %></a>
                    </li>
                </ul>
                <% end %>



                <dl class="topics">
                
                    
                    <% @topics.each do |topic| %>
                    <dd>
                        <a href="/users/<%= topic.user.ioask_name %>" class="pull-left mr-10 thumb-size">
                          <%= ioask_avatar(topic.user, :size => 48) %>
                        </a>
                        
                        <a class="badge pull-right" href=""><%= topic.comment_count %></a>
                        
                        <a href="/ask/topics/<%= topic.id %>" class="title" title="<%= topic.title %>"><%= topic.title %></a>
                        <div class="space"></div>
                        <div class="info">
                            <%= render 'io_ask/topics/tipbar', :topic => topic %>
                        </div>
                        <div class="clear"></div>
                    </dd>
                    <% end %>



                
                </dl>



                <div class="pull-right"><%= paginate @topics %></div>

 
        

 




</div>
<!-- /.row -->

  